<html>
<head>
    <title>詩와 C  </title>
</head>
<body>
<div>
    <h1><a href="">詩와 C</a></h1>
</div>




<div>
    <p>published: 3.07.2017, 09:43 </p>
    <h2><a href="https://ko.wikipedia.org/wiki/%EC%9C%A4%EB%8F%99%EC%A3%BC"><strong>별헤는 밤</strong> </a></h2>
    <p>계절이 지나가는 하늘에는</p>
    <p>가을로 가득 차있습니다。</p>
    <br>
    <p>나는 아무 걱정도 없이</p>
    <p>가을속의 별들을 다 헤일듯합니다。</p>
    <br>
    <p>가슴속에 하나 둘 색여지는 별을</p>
    <p>이제 다 못헤는것은</p>
    <p>쉬이 아침이 오는 까닭이오、</p>
    <p>내일밤이 남은 까닭이오、</p>
    <p>아직 나의 청춘이 다하지 않은 까닭입니다。</p>
    <br>
    <p>별하나에 追추憶억과</p>
    <p>별하나에 사랑과</p>
    <p>별하나에 쓸쓸함과</p>
    <p>별하나에 憧동憬경과</p>
    <p>별하나에 詩시와</p>
    <p>별하나에 어머니、어머니、</p>
    <br>
    <p>어머님、나는 별 하나에 아름다운 말 한마디식 불러봅니다.</p>
    <p>小소學학校교때 冊책床상을 같이 햇든 아이들의 일홈과 佩패、 鏡경、玉옥 이런 異이國국少소女녀들의 일홈과 벌서 애기 어머니 된 게집애들의 일홈과、</p>
    <p>가난한 이웃사람들의 일홈과、비둘기、강아지、토끼、노새、노루、｢푸랑시쓰․쨤｣ ｢라이넬․마리아․릴케｣ 이런 詩시人인의 일홈을 불러봅니다。</p>
    <br>
    <p>이네들은 너무나 멀리 있습니다。</p>
    <p>별이 아슬이 멀듯이、</p>
    <br>
    <p>어머님、</p>
    <p>그리고 당신은 멀리 北북間간島도에 게십니다。</p>
    <br>
    <p>나는 무엇인지 그러워</p>
    <p>이많은 별빛이 나린 언덕우에</p>
    <p>내 일홈자를 써보고、</p>
    <p>흙으로 덥허 버리엿습니다。</p>
    <br>
    <p>따는 밤을 새워 우는 버레는</p>
    <p>부끄러운 일홈을 슬퍼하는 까닭입니다。</p>
    <p>(一九四一、十一、五.)</p>
    <p>그러나 겨을이 지나고 나의 별에도 봄이 오면<p>
    <p>무덤우에 파란 잔디가 피여나듯이</p>
    <p>내일홈자 묻힌 언덕우에도</p>
    <p>자랑처럼 풀이 무성 할게외다</p>



</div>
</body>
</html>
